TestLib/Service References/CalculatorClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestService" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term1" type="xs:int" />
        <xs:element minOccurs="0" name="term2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFromDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestService" minOccurs="0" name="terms" nillable="true" type="q1:AddTerms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFromDtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFromDtoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="factor1" type="xs:int" />
        <xs:element minOccurs="0" name="factor2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>