TestLib/Service References/CalculatorClient/TestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddTerms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Term1" type="xs:int" />
      <xs:element minOccurs="0" name="Term2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddTerms" nillable="true" type="tns:AddTerms" />
</xs:schema>